科會報告 (1).json
{
  "name": "科會報告",
  "nodes": [
    {
      "parameters": {
        "url": "=http://mis.twse.com.tw/stock/api/getStockInfo.jsp?ex_ch=tse_{{ $json.StockSymbol }}.tw&_=CURRENT_TIME",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [ 
        416,
        -96
      ],
      "id": "582ab765-9e48-4de6-859d-b4b43d40d61e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BmaQPRvLAjgkrULIwCrgIMMExIEbwnldHEZVdBEW5NU",
          "mode": "list",
          "cachedResultName": "股價提醒器",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BmaQPRvLAjgkrULIwCrgIMMExIEbwnldHEZVdBEW5NU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BmaQPRvLAjgkrULIwCrgIMMExIEbwnldHEZVdBEW5NU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        -96
      ],
      "id": "44567a5d-702e-445c-beb9-0167e5ef3f6e",
      "name": "List1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DS0bVLFbuqyVpI5B",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // 取得 TWSE API JSON 字串\n  const rawData = item.json.data;\n  const parsed = JSON.parse(rawData);\n  const msg = parsed.msgArray[0];\n\n  // 解析價格\n  let price = msg.z;\n  if (price === \"-\" || price === undefined) {\n    const buy = msg.b?.split(\"_\")[0];\n    price = buy || msg.y;\n  }\n\n  return {\n    json: {\n      // TWSE 回傳內容\n      stockCode: msg.c,\n      stockName: msg.n,\n      priceTime: msg.t,\n      currentPrice: Number(price),\n\n      // 從 List1 來的欄位（n8n 自動 merge）\n      condition: item.json.Condition,\n      targetPrice: Number(item.json.TargetPrice),\n      lastNotified: item.json.LastNotified || \"\",\n      rowId: item.json.rowId  // 如果你有這欄，給 UpdateRow 用\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -96
      ],    
      "id": "740c3c3b-8deb-4f12-8a98-8a6b5dceb74d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 9-13 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -96
      ],
      "id": "23398e0c-eef4-4fb0-9374-95d46668f732",
      "name": "快速"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6ba99d2a-f89b-47dc-8a96-68515a2a8db9",
              "leftValue": "={{ \n(\n ($json.condition === \">=\" && Number($json.currentPrice) >= Number($json.targetPrice))\n\n||\n\n ($json.condition === \"<=\" && Number($json.currentPrice) <= Number($json.targetPrice))\n )\n\n&&\n\n  $json.lastNotified !== new Date().toISOString().slice(0,10).replace(/-/g,\"\")\n\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        -96
      ],
      "id": "bc46e7c0-2827-4d3f-b664-c78fceadb177",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "aa346851243903687@gmail.com",
        "subject": "=📈 股票到價通知：{{ $json.stockName }}（{{ $json.stockCode }}）",
        "message": "=<div style=\"font-family: Arial, sans-serif; padding: 20px; background: #f4f4f4;\">\n  <div style=\"max-width: 480px; margin: auto; background: #ffffff; border-radius: 12px; padding: 20px; box-shadow: 0 4px 12px rgba(0,0,0,0.1);\">\n    \n    <h2 style=\"margin-top: 0; font-size: 20px; color: #333;\">\n      📈 股票到價通知：{{ $json.stockName }}（{{ $json.stockCode }}）\n    </h2>\n\n    <hr style=\"border: none; border-top: 1px solid #ddd; margin: 16px 0;\">\n\n    <div style=\"font-size: 15px; line-height: 1.7; color: #444;\">\n\n      <div>\n        <strong>股票名稱：</strong>\n        {{ $json.stockName }}（{{ $json.stockCode }}）\n      </div>\n\n      <div>\n        <strong>目前價格：</strong>\n        <span style=\"padding: 3px 6px; border-radius: 6px; font-weight: bold; \n          color: {{  $json.condition=== '>=' ? 'red' : 'green' }};\">\n          {{ $json.currentPrice }}\n        </span>\n      </div>\n\n      <div>\n        <strong>設定條件：</strong>\n        <span style=\"background: #eee; padding: 3px 6px; border-radius: 6px;\">\n          {{  $json.condition }} {{ $json.targetPrice }}\n        </span>\n      </div>\n\n      <div>\n        <strong>更新時間：</strong>\n        {{ $json.priceTime }}\n      </div>\n\n    </div>\n\n    <hr style=\"border: none; border-top: 1px solid #ddd; margin: 16px 0;\">\n\n    <div style=\"font-size: 12px; color: #888; text-align: center;\">\n      中國信託綜合證券 CTBC SECURITIE 通知您\n    </div>\n\n  </div>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1152,
        -288
      ],
      "id": "3edf03c2-04a6-4824-a1b7-e6695eefbf67",
      "name": "Send a message",
      "webhookId": "63cd0bcf-4386-4c4c-b23c-557d0a40a33f",
      "credentials": {
        "gmailOAuth2": {
          "id": "uPtzuE34xoeTcrDU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1BmaQPRvLAjgkrULIwCrgIMMExIEbwnldHEZVdBEW5NU",
          "mode": "list",
          "cachedResultName": "股價提醒器",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BmaQPRvLAjgkrULIwCrgIMMExIEbwnldHEZVdBEW5NU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BmaQPRvLAjgkrULIwCrgIMMExIEbwnldHEZVdBEW5NU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "StockSymbol": "={{ $('Code in JavaScript1').item.json.currentPrice }}",
            "LastNotified": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "StockSymbol"
          ],
          "schema": [
            {
              "id": "StockSymbol",
              "displayName": "StockSymbol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "StockName",
              "displayName": "StockName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Condition",
              "displayName": "Condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TargetPrice",
              "displayName": "TargetPrice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LastNotified",
              "displayName": "LastNotified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        -288
      ],
      "id": "8e48923d-fc63-4b9b-b82a-01e63b4ad728",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DS0bVLFbuqyVpI5B",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "快速": {
      "main": [
        [
          {
            "node": "List1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Taipei",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c2ce8b4b-3b5a-4ca3-99e9-77d2c2d30f2d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e022e10cb008bdc5fb6d4de21ae241a036930c7a963389c6c2b7becf3a9cc6da"
  },
  "id": "A3duIto8LpKZ1F1g",
  "tags": []
}